<div class="footer">
    <div class="w">
        <ul>
            <li><h3>商城中心</h3></li>
            <li><a href="#" class="link-text">淘宝旗舰店</a></li>
            <li><a href="#" class="link-text">官方商城</a></li>
            <li><a href="#" class="link-text">京东旗舰店</a></li>
        </ul>
        <ul>
            <li><h3>服务支持</h3></li>
            <li><a href="#" class="link-text">售后服务</a></li>
            <li><a href="#" class="link-text">服务网点</a></li>
        </ul>
        <ul>
            <li><h3>帮助中心</h3></li>
            <li><a href="#" class="link-text">使用说明</a></li>
            <li><a href="#" class="link-text">安装教程</a></li>
        </ul>
        <ul>
            <li><h3>关于我们</h3></li>
            <li><a href="#" class="link-text">公司简介</a></li>
            <li><a href="#" class="link-text">新闻动态</a></li>
            <li><a href="#" class="link-text">联系我们</a></li>
        </ul>
        <ul class="connect">
            <li><h3>联系我们</h3></li>
            <li>
                <i class="fa fa-phone" style="font-size: 20px"></i>
                <span>公司服务热线：</span>
                <br />
                <span class="phone">010-012345678</span>
            </li>
            <li>
                <i class="fa fa-map-marker" style="font-size: 20px"></i>
                <span>公司地址：xx市xx区xx园xx楼</span>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>